@tailwind base;
@tailwind components;
@tailwind utilities;

.wave{
	position: absolute;
	top: -160px;
}

.wave:nth-child(1):after{
  animation-duration: 5s;
}
.wave:nth-child(3):after{
  animation-duration: 7s;
}

.wave:after{
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  max-width: 360px;
  max-height: 360px;
  left: -150px;
  top: 0;
  background-image: linear-gradient(120deg, #f04a22 0%, #bd179b 100%);
  border-radius: 55% 75% 50% 65%;
  animation: rotate 9s infinite linear;
  opacity: .5;
}


@keyframes rotate {
	0%{ transform: scale(1) rotate(0deg)}
	50%{ transform: scale(1, 0.5) rotate(180deg)}
	100%{ transform: scale(1) rotate(360deg)}
}